[submodule "articles/convex-combination-bidding-paper"]
	path = articles/convex-combination-bidding-paper
	url = git@github.com:ArtemPyanykh/convex-combination-bidding-paper.git
[submodule "articles/cont-convex-combination-bidding-paper"]
	path = articles/cont-convex-combination-bidding-paper
	url = git@github.com:ArtemPyanykh/cont-convex-combination-bidding-paper.git
[submodule "articles/split-the-difference-bidding-paper"]
	path = articles/split-the-difference-bidding-paper
	url = git@github.com:ArtemPyanykh/split-the-difference-bidding-paper.git
[submodule "articles/tikhonov-readings-2014"]
	path = articles/tikhonov-readings-2014
	url = git@github.com:ArtemPyanykh/tikhonov-readings-2014.git
